<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Seeking a Full Stack Web Developer 
                        <br/>Summer Internship 
                        <br/>(beginning May 2016)</p>
                </div>
                <div class="col-lg-4">
                    <p>Master of Science in Computer Science
                        <br/>University of Massachusetts, Lowell, MA
                        <br/>(Expected December 2016)
                    </p>
                </div>
            </div>
        </div>
    </section>